asgiref==3.12.1
azure-core==1.41.0
azure-storage-blob==12.30.0
brotli==1.2.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cryptography==50.0.0
cssselect2==0.9.0
dj-database-url==3.1.2
Django==5.0.14
django-cors-headers==4.9.0
django-environ==0.14.0
django-storages==1.14.6
djangorestframework==3.17.2
djangorestframework_simplejwt==5.5.1
fonttools==4.63.0
idna==3.18
isodate==0.7.2
pillow==12.3.0
psycopg2-binary==2.9.12
pycparser==3.0
pydyf==0.12.1
PyJWT==2.13.0
pypdf==6.16.1
pyphen==0.18.1
requests==2.34.2
sqlparse==0.6.0
tinycss2==1.5.1
tinyhtml5==2.1.0
typing_extensions==4.16.0
urllib3==2.7.0
weasyprint==69.0
webencodings==0.6.1
zopfli==0.4.3
